{% extends 'base.html.twig' %}

{% block title %}Message Page{% endblock %}



{% block body %}
    <div class="container" style="text-align: center; font-size:20px; color:black;padding: 30px;">
        Operation completed successfully
    </div>
    <a href="{{ path('main') }}">Back to main page</a>
{% endblock %}
